.TheWinnerIs {
    position: fixed;
    height: 100vh;
    width: -webkit-fill-available;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    text-align: center;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
    padding: 0 13px;
    z-index: 100;
}