body {
    height: -webkit-fill-available;
}

.App {
    display: flex;
    flex-direction: column;

    * {
        margin: 0;
    }

    p, h1 {
        text-align: center;
    }
}

.ActionsTools, .PersonsInQueue {
    flex: 1;
}