.App {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;

    * {
        margin: 0;
    }

    p, h1 {
        text-align: center;
    }

    .ActionsTools, .PersonsInQueue {
        flex: 1;
    }
}