.PersonsInQueue {
    display: flex;
    align-items: center;
    justify-content: center;

    .Person {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: none;
        width: 135px;
        height: 150px;

        img {
            width: 130px;
            height: 130px;
        }
    }

    .dispensador {
        flex: 1;
    }
}