.PersonsInQueue {
    display: flex;

    .Person {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: none;
        width: 150px;
        height: 150px;

        img {
            width: 135px;
            height: 110px;
        }
    }
}